# Environments
.venv/
env/
venv/

# Data and Datasets
data/
hand_dataset/
*.npy

# Training Runs and Logs
runs/
*.log


# Python Cache
__pycache__/
*.py[cod]
*$py.class

# IDE Settings
.vscode/
.idea/

