# Environments
.venv/
env/
venv/

# Data and Datasets
data/
hand_dataset/
*.npy

# Training Runs and Logs
runs/
*.log

# AI Models and Weights
models/*.pt
models/*.h5
yolov8n.pt

# Python Cache
__pycache__/
*.py[cod]
*$py.class

# IDE Settings
.vscode/
.idea/